a{
  text-decoration: none;
  color: aliceblue;
  
}
body{
font-family: 'Poppins', sans-serif;
margin: 0px;
}
p{
  color: dimgray;
}
.top-banner {
  
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
 
}
.dream-area{
  background-image: url("images/dream-bg.png");
background-repeat: no-repeat;
background-position: right;

}
.bottom{
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
section{
  height: 600px;
}
h1{
font-size: 50px;
}
.name-highlight{
    color: orange;
}

.half-width{
  width: 40%;
  float: left;
  margin-left: 5% ;
  padding-left: 2%;

}
.half-width img{
  width: 100% ;
}


.exp-h2{
  color: #FFA87B;
}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    font-size: 20px;
  
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font: bold;
    border-color: white;
    color: white;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }